/* -------------------------------------------------------------- */
/* CSS RESET:*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------------------------------------- */
/* BODY STYLE: */
body {
    display: block;

    background-color: #010409;
}

/* -------------------------------------------------------------- */
/* NAVBAR STYLE: */

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;

    background-color: #161b22;
    font-family: Consolas, monaco, monospace;
}

#navbar h1 {
    display: inline;
    float: left;
    
    margin: 1%;
    padding-left: 0.5%;

    font-size: 2.2em;
}

#navbar ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    padding: 8px;

    text-decoration: none;
    color: #f0f6fc;
}

/* -------------------------------------------------------------- */
/* CONTENT STYLE: */

.content {
    width: 65%;
    margin-left: 1.4%;
    margin-top: 6.25%;
    margin-bottom: 7%; /* remove once footer inserted */
}

/* -------------------------------------------------------------- */
/* POST STYLE: */

.post {
    margin-top: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;

    border: solid #30363d 1px;
    border-radius: 6px;

    background-color: #0d1117;
    color: #f0f6fc;
}

.title {
    font-size: 2em;
    margin-bottom: 2%;
    font-family: Consolas, monaco, monospace;
}

.post-content {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
}